.favorite-container {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  padding-bottom: 100px;
  font-family: "Georgia", serif;
  background-color: #f7f5f0;
}

p.favorite-description {
  color: #666;
  margin-top: 30px;
  margin-bottom: 30px;
}

.heart {
  color: #ff4d4f;
}

.favorite-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: "Georgia", serif;
}

.favorite-card {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: white;
}

.favorite-image {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.favorite-info {
  flex: 1;
}

.favorite-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Georgia", serif;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.label {
  font-weight: bold;
  color: #666;
  white-space: nowrap;
  flex-shrink: 0;
}

.star {
  color: gold;
}

.favorite-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-btn {
  background: #003a8c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;

}

.remove-btn {
  background: white;
  color: #ff4d4f;
  border: 1px solid #ff4d4f;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}