.footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 72px;

    background: #e8dece;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 1px solid #d8c8b5;

    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);

    z-index: 1000;
}

.footer-item {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #8a6742;

    transition: all 0.2s ease;
}

.footer-item span {
    font-family: "Georgia", serif;
    font-size: 24px;
}

.footer-item p {
    font-family: "Georgia", serif;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 500;
}

.footer-item:hover {
    font-family: "Georgia", serif;
    color: #5c3b1e;
    transform: translateY(-2px);
}