header {
  height: 72px;

  background: #e8dece;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  box-shadow:
    0 2px 12px rgba(0, 0, 0, 0.08);
}

header h1 {
  font-family: "Georgia", serif;

  font-size: 30px;
  font-weight: bold;

  color: #5c3b1e;

  letter-spacing: 2px;
}

.header-btn {
  background: #faf8f4;

  color: #6b4a2c;

  border: 1px solid #a48764;

  border-radius: 12px;

  padding: 10px 24px;

  font-weight: 600;

  transition: 0.2s;
}

.header-btn:hover {
  background: #f3ece3;
}