.history-container {
  width: 100%;
  min-height: 100vh;
  padding: 20px 40px;
  box-sizing: border-box;
  padding-bottom: 100px;
  background-image: url('../assets/bg-food.png');
}

.history-title {
  font-size: 24px;
  /* お好みで調整 */
  margin-bottom: 10px;
  font-family: "Fredoka One";
}

.history-description {

  display: block;
  color: #666;
  margin: 30px 0;
  font-family: "Fredoka One";
}

.history-card {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: white;
}

.history-info h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.history-date {
  width: 80px;
  text-align: center;
  font-size: 14px;
}

.history-image {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.history-info {
  flex: 1;
  font-family: "Fredoka One";
}

.info-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.label {
  font-weight: bold;
  color: #666;
  white-space: nowrap;
  flex-shrink: 0;
}

.star {
  color: gold;
}

.history-info h2 {
  margin-bottom: 10px;
  font-family: "Fredoka One";
}

.history-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.detail-btn:after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #6088C6;
  border-radius: 5px;


}

.remove-btn {
  background: #EE817B;
  color: white;
  border: 1px solid #EE817B;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: visible;
}


.favorite-btn {
  background: white;
  color: #EE817B;
  border: 1px solid #EE817B;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.favorite-btn:after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #EE817B;
  border-radius: 5px;
  animation: rippleAnim 1.5s infinite;
}

.remove-btn:after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #EE817B;
  border-radius: 5px;
}

@keyframes fuwafuwa {

  0%,
  100% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-3px) scale(1.03);
  }
}

@keyframes rippleAnim {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}