.home-container {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.gacha-card {
    width: 700px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.gacha-card h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ee791a;
}

.gacha-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-label {
    font-weight: bold;
    color: #444;
}

.required {
    color: #ff4d4f;
}

.station-input,
.genre-select {
    width: 100%;
    padding: 12px;
    font-size: 15px;

    border: 1px solid #d9d9d9;
    border-radius: 8px;

    transition: all 0.2s;
    box-sizing: border-box;
}

.genre-title {
    font-weight: bold;
    margin-top: 20px;
    color: #444;
}

.station-input:focus,
.genre-select:focus {
    outline: none;
    border-color: #1677ff;
    box-shadow: 0 0 5px rgba(22, 119, 255, 0.3);
}

.genre-note {
    font-size: 13px;
    color: #888;
    margin-top: -5px;
    margin-bottom: 5px;
}

.gacha-btn {
    height: 100px;
    margin-top: 20px;

    /* 通常はシンプル */
    background: linear-gradient(135deg, #582a08);

    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border: none;

    padding: 14px;
    font-size: 42px;
    font-weight: bold;

    border-radius: 10px;
    cursor: pointer;

    transition: 0.3s;
}

/* hoverで虹に変化 */
.gacha-btn:hover {
    background: linear-gradient(90deg,
            #ff0000,
            #ff7f00,
            #ffff00,
            #00ff00,
            #0000ff,
            #4b0082,
            #9400d3,
            #ff0000);

    background-size: 400% 400%;
    animation: rainbow 3s linear infinite, pulse 1.5s infinite;

    transform: translateY(-2px);
    opacity: 0.95;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}