.login-container {
    background-image: url('../assets/gohan.avif');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow:0 0 30px rgba(255,255,255,0.2),
                0 4px 32px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

}

.login-card h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #5c3b1e;
    font-family:"Fredoka One";
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card label {
    margin-bottom: 6px;
    font-weight: bold;
    font-family:"Fredoka One";
    color: #555;
}

.login-card input {
    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 6px;
    font-family:"Fredoka One";

    font-size: 16px;
}

.login-card input:focus {
    outline: none;
    border-color: #5c3b1e;
}

.login-btn {
    background: #5c3b1e;
    color: white;
    margin-top: 30px;
    border: none;
    border-radius: 6px;

    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family:"Fredoka One";
}

.login-btn:hover {
    background: #4a2c1e;
}

.register-btn {
    margin-top: 15px;

    background: white;
    color: #5c3b1e;

    border: 1px solid #5c3b1e;
    border-radius: 6px;

    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-family:"Fredoka One";
}

.register-btn:hover {
    background: #EFF6FF;
}

.error-message {
    color: #ff4d4f;
    font-size: 14px;
    font-family:"Fredoka One";
    margin-top: 4px;
    margin-bottom: 8px;
}