.login-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #FF3B1F;
}

.login-card form {
    display: flex;
    flex-direction: column;
}

.login-card label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

.login-card input {
    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

.login-card input:focus {
    outline: none;
    border-color: #FF3B1F;
}

.login-btn {
    background: #FF3B1F;
    color: white;

    border: none;
    border-radius: 6px;

    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-btn:hover {
    background: #f07a05;
}

.register-btn {
    margin-top: 15px;

    background: white;
    color: #FF3B1F;

    border: 1px solid #FF3B1F;
    border-radius: 6px;

    padding: 12px;
    cursor: pointer;
    font-size: 16px;
}

.register-btn:hover {
    background: #EFF6FF;
}