.register-container {
    background-image: url('../assets/kawaii.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.register-card {
    width: 500px;
    background: white;
    padding: 20px 40px;

    border-radius: 12px;
    box-shadow:0 0 30px rgba(255,255,255,0.2),
                0 4px 32px rgba(0,0,0,0.1);
}

.register-card h2 {
    text-align: center;
    color: #5c3b1e;
    margin-bottom: 15px;
    font-family:"Fredoka One";
}

.register-card form {
    display: flex;
    flex-direction: column;
}

.register-card label {
    display: block;
    text-align: left;

    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
    font-family:"Fredoka One";
}

.register-card input,
.register-card select {
    padding: 10px;
    font-family:"Fredoka One";
    margin-bottom: 4px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 15px;
}

.register-card input:focus,
.register-card select:focus {
    outline: none;
    border-color: #5c3b1e;
}

.register-submit-btn {
    margin-top: 10px;

    background: #5c3b1e;
    color: white;

    border: none;
    border-radius: 6px;

    padding: 12px;

    font-size: 16px;
    font-weight: bold;
    font-family:"Fredoka One";
    cursor: pointer;
}
/* 登録ボタンのホバー効果 */
.register-submit-btn:hover {
    background: #4a2c1e;
}

.error-message {
    color: #ff4d4f;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
}