/* 全体 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.welcome-container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* 背景画像 */
.background-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    background: black; /* フェードアウト時の背景 */

}

.background {
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;

     background-repeat: no-repeat;
    filter: brightness(0.55);
}
.slide-in {
    animation: slideIn 3s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.slide-out {
    animation: slideOut 3s ease forwards;
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}


@keyframes kenBurns {
    from {
        transform: scale(1.05) translateX(0);
    }

    to {
        transform: scale(1.15) translateX(-3%);
    }
}

.fade {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* UI固定（重要） */
.welcome-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2; /* 背景より前 */
}

/* カード */
.welcome-card {
    text-align: center;
    padding: 4rem;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);

    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

/* 以下そのままでOK */
h1.welcome-title {
    font-family:"Fredoka One";
    font-size: 3.5rem;
    font-weight: bold;
    color: #f87432;
    margin-bottom: 72px;
    text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

.welcome-subtitle {
    font-family:"Fredoka One";
    font-size: 1.3rem;
    color: #f87432;
    margin-bottom: 72px;
    opacity: 0.9;
}

.welcome-note {
    font-size: 0.9rem;
    color: white;
    opacity: 0.8;
}

.welcome-buttons {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 25px;
}

.welcome-button {
    padding: 21px 34px;
    border-radius: 12px;
    border: none;
    cursor: pointer;

    font-size: 1.1rem;
    font-weight: bold;

    transition: 0.3s;
}

.welcome-button:hover {
    transform: scale(1.05);
}

.welcome-button.login {
    background: rgb(255, 255, 255);
    color: #e65a5a;
}

.welcome-button.register {
    background: linear-gradient(90deg, #e65a5a, #f7a9a9);
    color: white;
    box-shadow: 0 5px 20px rgba(255, 0, 0, 0.4);
}